header {
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.info__edit{
    cursor: pointer;
    align-self: flex-end;
    border:2px solid white;
    margin: 1rem 1.15rem 0 0;
    padding: 0.45rem;
    border-radius: 16px;
    font-weight: 700;
    font-size: 1rem;
}


.info__container {
    display: flex;
    flex-direction: column;
    text-align: start;
    padding-left: 2rem;
    color: white;
}
.info__username {
    width: 50%;
    font-weight: 700;
    margin-bottom: 0.5rem;
}
.info__age, .info__desc {
    font-size:0.85rem;
    margin-bottom: 0.5rem;
}

.info__avatar {
    width: 85px;
    height: 130px;
    object-fit: cover;
    overflow: hidden;
}